<!-- div#footer -->
<div class="column span-24">
  <p class="quiet small">All design, code, and text Copyright&nbsp;&copy;&nbsp;2007<%= "-" + Time.now.year.to_s unless Time.now.year.to_s == "2007" %>&nbsp;BlueprintCSS core team and other Copyright holders</p>
</div>
<!-- /div#footer -->
