<div class="column span-5">
	<%= image_tag "blueprint.png", :alt => "Blueprint CSS Logo" %>
</div>

<div class="column span-16 last">
  <p class="version quiet">Version: <%= CssGrid.version_str %></p>
</div>
