<%= render :partial => "intro" %>

<%# %w{ grid typography grid_png plugins layouts download }.each_with_index do |part,key| %>
<% %w{ grid download }.each_with_index do |part,key| %>
  <div id="<%= part %>">
    <%= render :partial => "step_#{part}" %>
  </div>
<% end %>
