<h1>Blueprint CSS - Grid Generator</h1>

<p>Please fill out the simple form below to generate a new grid.css file.</p>

<% form_tag '/rcss' do -%>
		<fieldset>
			<legend>New Grid Properties</legend>
		  Page Width : <%= text_field_tag "page_width" %>
			<%= submit_tag "Submit" %>
		</fieldset>

		<%#= observe_field 'user_login',
				:url => { :action => 'is_login_taken' },
				:with => 'login' %>

<% end %>

