<!-- div#footer -->
<div class="column prepend-3 span-18">
  <p class="quiet" style="margin-top:36px; border-top:1px solid gray;">
    <br />
    All design, code, and text Copyright&nbsp;&copy;&nbsp;2007<%= "-" + Time.now.year.to_s unless Time.now.year.to_s == "2007" %>&nbsp;Blueprint CSS core team and other Copyright holders</p>
</div>
<!-- /div#footer -->
