<!-- footer -->
<div class="column span-20 prepend-1">
  <p class="quiet">Copyright&nbsp;&copy;&nbsp;2007<%= "-" + Time.now.year.to_s unless Time.now.year.to_s == "2007" %>&nbsp;Blueprint CSS core team and other Copyright holders</p>
</div>
<!-- /footer -->
