<!-- header -->
<div class="column span-18">
  <%= image_tag "blueprint.png", :alt => "Blueprint CSS Logo" %>
</div>

<div class="column span-6 last">
  <p class="version quiet">Version: <%= CssGrid.version_str %></p>
</div>
<!-- /header -->